<html>
<head>

    <link href="/bootstrap/bootstrap.css" rel="stylesheet"/>
    <link href="/bootstrap/datatables.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/home/home.css">

</head>
<body>
<div class="container">
    <header role="banner" class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button data-toggle="collapse-side" data-target=".side-collapse"
                        data-target-2=".side-collapse-container" type="button" class="navbar-toggle pull-left"><span
                        class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="navbar-inverse side-collapse in">
                <nav role="navigation" class="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#htab0" data-toggle="tab">Create Case</a></li>
                        <li><a href="#htab1" data-toggle="tab">Add Criminal</a></li>
                        <li><a href="#htab2" data-toggle="tab">View Criminals</a></li>
                        <li><a href="#htab3" data-toggle="tab">Allocate Case</a></li>
                        <li><a href="#htab4" data-toggle="tab">Search Criminal</a></li>

                        <li><a href="/" >Logout</a></li>

                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div class="tab-content" style="margin: 30px">
        <div role="tabpanel" class="tab-pane fade in active" id="htab0">
            <h1>Create Case</h1>

            <div class="col-sm-3">
                <div class="form-group">
                    <label>Case No:</label>
                    <input id="case_no" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Case Name:</label>
                    <input id="case_name" type="text" class="form-control">
                </div>
                <button id="add_case" type="button" class="btn btn-warning">Add</button>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade in " id="htab1">
            <h1>Add Criminal Details</h1>

            <div class="col-sm-3">
                <div class="form-group">
                    <label>First Name:</label>
                    <input id="firstname" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Last Name:</label>
                    <input id="lastname" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Aadhar Number:</label>
                    <input id="authornumber" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Mobile Number:</label>
                    <input id="mobile" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Age:</label>
                    <input id="age" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Gender:</label>
                    <select id="gender" class="form-control">
                        <option>Male</option>
                        <option>Female</option>
                        <option>Transgender</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Address:</label>
                    <input id="address" type="text" class="form-control">
                </div>
               
                <button id="add_criminal" type="button" class="btn btn-warning">Add</button>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="htab2">
            <h1>View Criminals</h1>
            <table id="mytable" class="table table-bordred table-striped">
                <thead>
               
                <th>First Name</th>
                <th>Last Name</th>
                <th>Aadhar Number</th>
                <th>Mobile Number</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Address</th>
                
                </thead>
                <tbody id="criminal_body">

                
                


                </tbody>

            </table>
        </div>
        <div role="tabpanel" class="tab-pane fade in" id="htab3">
            <h1>Allocate Case</h1>

            <div class="col-sm-3">
                <div class="form-group">
                    <label>Aadhar Number:</label>
                    <input id="al_authorno" type="text" class="form-control">
                </div>
                <button id="al_seacrh" type="button" class="btn btn-warning">Search</button>
                <div class="form-group">
                    <label>First Name:</label>
                    <input id="al_firstname" type="text" class="form-control" disabled>
                </div>
                <div class="form-group">
                    <label>Last Name:</label>
                    <input id="al_lastname" type="text" class="form-control" disabled>
                </div>
                
                <div class="form-group">
                    <label>Mobile Number:</label>
                    <input id="al_mobile" type="text" class="form-control" disabled>
                </div>
                <div class="form-group">
                    <label>Age:</label>
                    <input id="al_age" type="text" class="form-control" disabled>
                </div>
                <div class="form-group">
                    <label>Gender:</label>
                    <input id="al_gender" type="text" class="form-control" disabled>
                </div>
                <div class="form-group">
                    <label  >Address:</label>
                    <input id="al_address" type="text" class="form-control" disabled>
                </div>
                <div class="form-group">
                    <label>Select Case:</label>
                    <select id="al_case" class="form-control">
                        
                    </select>
                </div>
                <div class="form-group">
                    <label>Description:</label>
                    <input id="al_description" type="text" class="form-control">
                </div>
                <button id="allocate_case" type="button" class="btn btn-warning">Allocate case</button>
            </div>

        </div>
        <div role="tabpanel" class="tab-pane fade in" id="htab4">
            <h1>Search Criminal</h1>

            <div class="col-md-12">
                <div class="form-group col-sm-4">
                    <label>Aadhar Number:</label>
                    <input id="search_author" type="text" class="form-control">
                </div>

            </div>
            <button id="search_criminal" type="button" class="btn btn-warning">Search</button>
            <h2>Case Details</h2>

            <table id="mytable1" class="table table-bordred table-striped">
                <thead>
               
                <th>First Name</th>
                <th>Last Name</th>
                
                <th>Case Name</th>
                <th>Mobile Number</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Address</th>
                
                </thead>
                <tbody id="criminal_search_body">

                
                


                </tbody>

            </table>

        </div>
    </div>
</div>
</body>
<script src="/bootstrap/jquery.min.js"></script>
<script src="/home/home.js"></script>
<script src="/bootstrap/datatable.min.js"></script>
<script src="/bootstrap/datatable.bootstrap.min.js"></script>
<script src="/bootstrap/bootstrap.min.js"></script>

</html>